body {
    text-align: center;
}

img {
    width: 30vw;
    height: 30vw;
    border: 0px;
    padding: 0px;
    object-fit: cover;
    object-position: center center;
}

.image_2, .image_3 {
    margin-left: -15vw;
    mask-image: linear-gradient(to right, transparent 0%, black 50%);

}

.line_2, .line_3 {
    margin-top: -15vw;
    mask-image: linear-gradient(to bottom, transparent 0%, black 50%);
}

ul {
    list-style-type: none;
}